<div class="container">
			<div class="row">
				<div class="col-lg-1 temp_col"></div>
				<div class="col-lg-11">
					
					
				</div>

				<div class="col-lg-12">

					<div class="offers_grid">

					<!-- 1 рейс -->
						{{#each schedule}}
						<div class="offers_item rating_4">
							<div class="row">
								<div class="col-lg-1 temp_col"></div>
								<div class="col-lg-3 col-1680-4">
									<div class="offers_image_container">
										<div class="offers_image_background" style="background-image:url(/images/single_plane.jpg)"></div>
									<div class="offer_name"><a href="#">{{this.title_air}}</a></div>
									</div>
								</div>
								<div class="col-lg-8">
									<div class="offers_content">
										<div class="offers_price">Рейс № {{this.id_flight}}</div>
										
										<p class="offers_text">{{this.title_out}}, {{this.country_out}}, {{this.city_out}} - 
															   {{this.title_in}}, {{this.country_in}}, {{this.city_in}}</p>
									
										<p class="offers_text"> Интервал:  {{this.date_out}} - {{this.date_in}} </p> 
											
										<div class="offers_icons">
											<ul class="offers_icons_list">

												<li class="offers_icons_item"><img src="/images/compass.png" alt=""><p>{{this.time_in_road}}</p></li>
												
										</div> <!--
										<div class="button book_button"><a href="#">Информация<span></span><span></span><span></span></a></div> -->
										<div class="offer_reviews">
											
										</div>
									</div>
								</div>
							</div>
						</div>
						{{/each}}
						
					</div>
				</div>
			</div>