<!DOCTYPE html>
<html>
<head>
    <title>Список рейсов</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Список рейсов</h1>
    <table>
        <tr><th>Номер рейса</th><th>Вылет</th><th>Прилет</th><th>Маршрут</th></tr>
        {{#each schedule}}
            <tr>
                <td>{{this.id_flight}}</td>
                <td>{{this.date_out}}</td>
                <td>{{this.date_in}}</td>
                <td>{{this.title_out}},{{this.country_out}},{{this.city_out}}-
                    {{this.title_in}},{{this.country_in}},{{this.city_in}}
                </td>
            </tr>
        {{/each}}
    </table>
</body>
<html>