<!DOCTYPE html>
<html lang="ru">
<head>
<title>W3.Aero || Расписание рейсов</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Travelix Project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/styles/bootstrap4/bootstrap.min.css">
<link href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/styles/offers_styles.css">
<link rel="stylesheet" type="text/css" href="/styles/offers_responsive.css">
</head>

<body>

<div class="super_container">
	
	

	{{> menu}}


	

	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="/images/about_background.jpg"></div>
		<div class="home_content">
			<div class="home_title">Расписание рейсов</div>
		</div>
	</div>

	<div class="search">
		
		<div class="container fill_height">
			<div class="row fill_height">
				<div class="col fill_height">

					

					<div class="search_tabs_container">
						<div class="search_tabs d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
							<div class="search_tab active d-flex flex-row align-items-center justify-content-lg-center justify-content-start"><img src="/images/departure.png" alt="">пассажирские</div>
							
							
							
						</div>		
					</div>

			

					<div class="search_panel active">
						<form method="GET" id="search_form_1" class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
							<div class="search_item">
								<div>Пункт назначения</div>
								<input name="where" type="text" class="destination search_input" required="required">
							</div>
							<div class="search_item">
								<div>Когда</div>
								<input name="date_out" type="date" class="check_in search_input" placeholder="" required>
							</div>
							
							
							
							<button class="button search_button">Поиск<span></span><span></span><span></span></button>
						</form>
					</div>

				</div>
			</div>
		</div>		
	</div>


	<div class="offers">

		<div class="container">
			<div class="row">
				<div class="col-lg-1 temp_col"></div>
				<div class="col-lg-11">
					
					
				</div>

				<div class="col-lg-12">

					<div class="offers_grid">

					<!-- 1 рейс -->
						{{#each schedule}}
						<div class="offers_item rating_4">
							<div class="row">
								<div class="col-lg-1 temp_col"></div>
								<div class="col-lg-3 col-1680-4">
									<div class="offers_image_container">
										<div class="offers_image_background" style="background-image:url(/images/single_plane.jpg)"></div>
									<div class="offer_name"><a href="#">{{this.title_air}}</a></div>
									</div>
								</div>
								<div class="col-lg-8">
									<div class="offers_content">
										<div class="offers_price">Рейс № {{this.id_flight}}</div>
										
										<p class="offers_text">{{this.title_out}}, {{this.country_out}}, {{this.city_out}} - 
															   {{this.title_in}}, {{this.country_in}}, {{this.city_in}}</p>
									
										<p class="offers_text"> Интервал:  {{this.date_out}} - {{this.date_in}} </p> 
											
										<div class="offers_icons">
											<ul class="offers_icons_list">

												<li class="offers_icons_item"><img src="/images/compass.png" alt=""><p>{{this.time_in_road}}</p></li>
												
										</div> <!--
										<div class="button book_button"><a href="#">Информация<span></span><span></span><span></span></a></div> -->
										<div class="offer_reviews">
											
										</div>
									</div>
								</div>
							</div>
						</div>
						{{/each}}
						
					</div>
				</div>
			</div>
		</div>		
	</div>

	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 order-lg-1 order-2  ">
					<div class="copyright_content d-flex flex-row align-items-center">
						<div>
Copyright МП 31/32-17 ПМ.02 @RProduction &copy;<script>document.write(new Date().getFullYear());</script> 
</div>
					</div>
				</div>
				<div class="col-lg-9 order-lg-2 order-1">
					<div class="footer_nav_container d-flex flex-row align-items-center justify-content-lg-end">
						<div class="footer_nav">
							<ul class="footer_nav_list">
								<li class="footer_nav_item"><a href="/search">Поиск</a></li>
								<li class="footer_nav_item"><a href="/table">Рейсы</a></li>
								<li class="footer_nav_item"><a href="/about">Информация</a></li>
								<li class="footer_nav_item"><a href="/contact">Контакты</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 


<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/styles/bootstrap4/popper.js"></script>
<script src="/styles/bootstrap4/bootstrap.min.js"></script>
<script src="/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="/plugins/easing/easing.js"></script>
<script src="/plugins/parallax-js-master/parallax.min.js"></script>
<script src="/js/offers_custom.js"></script>

</body>

</html>